body {
  margin: 0px;
  font-family:Arial, sans-serif;
}

nav > ul{
  margin:0;
  padding:0;
  position: fixed;
  top:0px;
  background: #FF3838;
  width: 100%;
}


#header {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0px;
}

#navigation > ul{
  margin:0;
  padding:0;
  background: #2e2e2e ;
  width: 100%;
}

#navigation > ul > li{
  float: left;
  position: relative;
}

#navigation > ul > li:hover{
  background: #cb4335;
}

#navigation > ul > .boutondroite{
  float:right;
}

#navigation > ul > li > a{
  padding:20px 30px;
  color: white;
}
#navigation > ul > li:hover{
  background: #cb4335;
}

#navigation li{
  list-style-type: none;
}

#navigation >ul::after{
  content: "";
  display : block;
  clear : both;
}

#navigation a{
  display: inline-block;
  text-decoration: none;
}

.submenu{
  display:none;
  width: 100%;
}

.submenu2{
  display:none;
  width: 100%;
}

.submenu4{
  display:none;
  width: 100%;
}

#navigation > ul > li > ul >li:hover{
  background: #cb4335 ;
}

#navigation li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
  background:  #2e2e2e ;
  opacity: 1;
  transition: 50s;
}

#navigation li:hover .submenu2{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
  background: #2e2e2e ;
  opacity: 1;
  transition: 50s;
}


#navigation li:hover .submenu4{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
  background: #2e2e2e ;
  opacity: 1;
  transition: 50s;
}

.submenu li{
  border-bottom: 1px solid #CCC;
}

.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color:white;
  width: 270px;
}

.submenu2 li{
  border-bottom: 1px solid #CCC;
}
.submenu2 li a{
  padding: 15px 30px;
  font-size: 13px;
  color:white;
  width: 270px;
}

.submenu4 li{
  border-bottom: 1px solid #CCC;
}

.submenu4 li a{
  padding: 15px 30px;
  font-size: 13px;
  color:white;
  width: 270px;
}


h2 {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 30px;
}

#first-line {
  list-style-type: none;
  margin: auto;
  width: 800px;
  margin-bottom: 50px;
}

#first-line > li {
  display: inline-block;
  padding :1%;
}

#first-line > li:hover {
  font-weight: bold;
}

#first-line > li >  a {
  text-decoration: none;
  color: black;
}

#sec-line {
  list-style-type: none;
  margin: auto;
  width: 800px;
  margin-bottom: 100px;
}
#sec-line > li {
  display: inline-block;
  padding :1%;
}

#sec-line > li:hover {
  font-weight: bold;
}

#sec-line > li >  a {
  text-decoration: none;
  color: black;
}
