body {
  margin: 0px;
  font-family:Arial, sans-serif;
}

#header {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0px;
}

#navigation > ul{
  margin:0;
  padding:0;
  background: #2e2e2e ;
  width: 100%;
}

#navigation > ul > li{
  float: left;
  position: relative;
}

#navigation > ul > li:hover{
  background: #cb4335;
}

#navigation > ul > .boutondroite{
  float:right;
}

#navigation > ul > li > a{
  padding:20px 30px;
  color: white;
}
#navigation > ul > li:hover{
  background: #cb4335;
}

#navigation li{
  list-style-type: none;
}

#navigation >ul::after{
  content: "";
  display : block;
  clear : both;
}

#navigation a{
  display: inline-block;
  text-decoration: none;
}

.submenu{
  display:none;
  width: 100%;
}

.submenu2{
  display:none;
  width: 100%;
}

.submenu4{
  display:none;
  width: 100%;
}

#navigation > ul > li > ul >li:hover{
  background: #cb4335 ;
}

#navigation li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
  background:  #2e2e2e ;
  opacity: 1;
  transition: 50s;
}

#navigation li:hover .submenu2{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
  background: #2e2e2e ;
  opacity: 1;
  transition: 50s;
}


#navigation li:hover .submenu4{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
  background: #2e2e2e ;
  opacity: 1;
  transition: 50s;
}

.submenu li{
  border-bottom: 1px solid #CCC;
}
.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color:white;
  width: 270px;
}

.submenu2 li{
  border-bottom: 1px solid #CCC;
}
.submenu2 li a{
  padding: 15px 30px;
  font-size: 13px;
  color:white;
  width: 270px;
}

.submenu4 li{
  border-bottom: 1px solid #CCC;
}

.submenu4 li a{
  padding: 15px 30px;
  font-size: 13px;
  color:white;
  width: 270px;
}
