body {
  background: #E6E6E6;
  margin: 0;
  font-family: sans-serif;
}


h2 {
  font-size: 2.3em;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 5px;
}

article {
  width: 550px;
  height: 230px;
  display: inline-block;
  border: 1px solid #CCC;
  background: white;
  font-size:1.1em;
  margin: 20px;
  border: double;

}

article div{
  display: inline-block;
}

div .choixPage {
  text-align: center;
  vertical-align: middle;
}

.contenair {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}

.text h3 {
  margin-top: 10px;
  text-align: left;
  margin-left: 10px;
}

.text p {
  margin : 10px;
  text-align: left;
}

.text {
  width: 70%;
  margin-left: 50px;
  vertical-align: top;
}

.img {
  width: 17%;
}

#guitares div img {
	width: 80px;
  height: 210px;
  margin: 5px;
  margin-left: 30px;
}

#accessoires div img {
	width: 140px;
  height: 120px;
  padding-left: 0px;
  margin-left:0px;
  margin-top: 50px;

}
